// FILL EVERYTHING AND REMOVE .dist EXTENSION FROM FILE NAME

{
  "apiKey": [YOUR_DEVTO_API_KEY],
  "templateFolder": [NAME_OF_YOUR_TEMPLATE_FOLDER],
  "targetFolder": [YOUR_ABS_PATH_TO_FOLDER_POSTS]
}